@import "variables";
@import "nav";
@import "banner";
@import "intro";
@import "tour";
@import "contact";
@import "footer";

html, body {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

  a {
    text-decoration: none;
    color: unset;
  }
}

.muted {
  font-size: $font-sm;
  font-style: italic;
  color: $muted;
}

.topText {
  font-size: $font-lg;
  letter-spacing: 4px;
}

.topText, .muted {
  text-align: center;
}